.but{
  margin-left: 40px;
  background-color: powderblue;
}
.con{
  margin-left: 10px;
  margin-left: 50px;

}
.us{
  margin-top: 10px;
  margin-left: 70px;
}
.for{
  position: static;
  margin-left: 670px;
}
.bien{
  margin-left: 20px;
}